@use "../config/config.sass.scss" as *;

//  Style the buttons that are used to open and close the accordion panel
 .accordion {
  cursor: pointer;
  padding: 18px;
  // width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  // position: relative;
  // left: 190px;
  // top: -100px;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: $card-background-dark;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  flex-basis: 100%;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}