@use "../config/config.sass.scss" as *;

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0;
  // align-items: center // Changes cards to their size even if grid is larger
}

.grid-item {
  text-align: left;
  // background-color: blue;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 10px 10px 10px 42px;
}

