/* Variables */
.dark-mode-switch {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -68px;
  right: 12px;
}

.dark-mode-switch .fas {
  margin: 3px 6px;
  font-size: 18px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #19328a;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d4a373;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d4a373;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.avatar-large {
  width: 200px;
  border-radius: 50%;
  background-color: #ff8966;
}

.dark-mode .avatar-large {
  background-color: #ff8966;
}

.intro-card {
  border-radius: 25px;
  background: #faedcd;
  box-shadow: 2px 1px 1px #faedcd;
  position: relative;
}
.intro-card a {
  text-decoration: none;
}

.dark-mode .intro-card {
  background: #27323E;
  box-shadow: 2px 1px 1px #27323E;
}

@media (min-width: 100px) and (max-width: 575px) {
  .intro-card {
    padding: 12px;
    margin: 34px 0;
  }
}
@media (min-width: 576px) {
  .intro-card {
    padding: 12px;
    margin: 34px 75px;
  }
}
@media (min-width: 768px) {
  .intro-card {
    padding: 12px 36px 12px 36px;
    margin: 34px 100px;
  }
}
@media (min-width: 992px) {
  .intro-card {
    padding: 12px 48px 12px 48px;
    margin: 34px 130px;
  }
}
@media (min-width: 1200px) {
  .intro-card {
    padding: 12px 90px 12px 90px;
    margin: 34px 160px;
  }
}
.accordion {
  cursor: pointer;
  padding: 18px 0 18px 6px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  color: #ff8966;
}

.dark-mode .accordion {
  color: #ff8966;
}

.dark-mode .accordion:hover {
  color: #ff8966;
}

.active, .accordion:hover {
  color: #ff8966;
}

.panel {
  padding: 0 18px;
  background-color: #faedcd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  flex-basis: 100%;
  border-radius: 3px 3px 16px 16px;
  margin: -12px 0 12px 0;
}
.panel h4 {
  margin-bottom: 3px;
}
.panel p {
  margin-top: 6px;
}
.panel br {
  margin-bottom: 6px;
}

.dark-mode .panel {
  background-color: #27323E;
}

.accordion .fas {
  margin-left: 12px;
  font-size: 13px;
}

#modalTrigger {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

#modalTrigger:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #fefae0;
  /* Fallback color */
  background-color: rgba(254, 250, 224, 0.9);
  /* Black w/ opacity */
}

.dark-mode .modal {
  background-color: #1B2733;
  /* Fallback color */
  background-color: rgba(27, 39, 51, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  height: 150px;
  margin-bottom: 50px !important;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #1B2733;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.dark-mode .close {
  color: #fefae0;
}

.close:hover,
.close:focus {
  color: #19328a;
  text-decoration: none;
  cursor: pointer;
}

.dark-mode .close:hover {
  color: #d4a373;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(250, 237, 205, 0.8);
}

.dark-mode .prev:hover {
  background-color: rgba(39, 50, 62, 0.8);
}

.dark-mode .next:hover {
  background-color: rgba(39, 50, 62, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.btn-ghost {
  color: #ff8966;
  border: 1px solid #ff8966;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.dark-mode .btn-ghost {
  color: #ff8966;
  border: 1px solid #ff8966;
}

.btn-ghost:hover {
  opacity: 1;
  font-weight: bold;
  border: 2px solid #ff8966;
}

.dark-mode .btn-ghost:hover {
  border: 2px solid #ff8966;
}

.contact {
  margin-top: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  color: #ff8966;
  text-decoration: none;
}

body {
  background-color: #fefae0;
  color: #1B2733;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.dark-mode {
  background-color: #1B2733;
  color: #fefae0;
}
.dark-mode a {
  color: #ff8966;
}

.dark-mode a {
  columns: red;
}

.hidden {
  display: none;
}

/* RESPONSIVE */
/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .background-main {
    padding: 12px 12px 64px 12px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .background-main {
    padding: 12px 24px 64px 24px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .background-main {
    padding: 12px 36px 64px 36px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .background-main {
    padding: 24px 70px 64px 70px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .background-main {
    padding: 24px 100px 64px 100px;
  }
}
.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
}

.grid-item {
  text-align: left;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.grid-item-title {
  display: flex;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: -16px;
}

/* RESPONSIVE */
/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .grid-item {
    padding-left: 20px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-item {
    padding-left: 12px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-item {
    padding-left: 42px;
  }
}
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
