/* Variables */
$toggle-switch: #19328a;

$background-color: #fefae0;
$background-color-dark: #1B2733;

$font-color: #1B2733;
$font-color-dark: #fefae0;

$font-family: 'Roboto', sans-serif;

$card-background-dark: #27323E;
$card-background: #faedcd;


