/* Variables */
$toggle-switch: #19328a;

$background-color: #fbfefb;
$background-color-dark: #002137;

$font-color: black;
$font-color-dark: #fbfefb;

$font-family: 'Roboto', sans-serif;

$card-background-dark: #003a61;
$card-background: pink;


